.signup-formWrap {
  margin: 3rem auto 0;
}

.signup {
  display: block;
  width: 100%;
  max-width: 40rem;
  margin: 4rem auto 6rem;
  background: #f3b2e2;
  border: 1px solid #6d76f7;
}

.signup-container {
  padding: 0 10px;
}

.signup-container > h2 {
  font-size: 2.2rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 100%;
  padding: 5px;
  margin: 0 auto;
  color: #6d76f7;
}

.socialSignup {
  margin: 3rem auto 0;
}
