.directory {
  height: 100%;
}

.container {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.category {
  width: 16%;
  height: 100%;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.category::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.category-link {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-5%, -5%);
  z-index: 2;
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  padding: 8px 10px;
  border: 1px solid #6d76f7;
  color: #6d76f7;
  background: #fff;
  cursor: pointer;
}
